p.static{
  position: static;
}

p.relative{
  position: relative;
  left: 100px;
}

p.absolute{
position: absolute;
bottom: 10px;
left: 100px;
}

p.fixed{
  position: fixed;
  top: 30px;
  right: 5px;
}
